@model Sopra_Steria.Models.ContactUs

<div class="container" style="margin-top:10px; margin-bottom:25px">
<div class="col-8">

<form asp-action="send" >
    <div class="row gy-4">

        <div class="col-md-6">
            <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" required="">
        </div>

        <div class="col-md-6 ">
            <input type="email" class="form-control" asp-for="Email" placeholder="Your Email" required="">
        </div>

        <div class="col-md-12">
            <input type="text" class="form-control" asp-for="Subject" placeholder="Subject" required="">
        </div>

        <div class="col-md-12">
            <textarea class="form-control" asp-for="Message" rows="4" placeholder="Message" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <button class="btn btn-success" type="submit">Send Message</button>
        </div>

    </div>
</form>
</div>
</div>