@model List<Category>



<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-md-6 d-flex" style="width 100% "data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
                        <h4><a href="" class="stretched-link">@item.Name</a></h4>
                        <p>@item.Description</p>
                    </div>
                </div>

                <!-- End Service Item -->
            }



        </div>

    </div>

</section><!-- /Featured Services Section -->